body {
    background-image: url("../img/cinema.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.ajouterFilmDiv {
    position: relative;
    float: left;
    margin: 20px;
    /*padding: 20px;*/
    size: 50%;
}

.ajouterFilmDiv p {
    color: lightblue;
}

textarea {
    size: 100px;
}

body input {
    border-radius: 20px;
}

.listeFilm {
    float: right;
    margin: 20px;
    size: 50%;
    position: relative;
}

input {
    color: lightblue;
}

th {
    color: white;
}

#liste {
    color: white;
}

#tableFilm th{
    border:1px solid white;
    padding: 14px;
}

#tableSerie th{
    border:1px solid white;
    padding: 14px;
    margin: 14px;
}

.listeSerie {
    margin: 20px;
    float: right;
    size: 50%;
    position: relative;
}

.listeSerie th {
    margin: 5px;
}

.listeSerie, .listeFilm td {
    color: lightblue;
}

td {
        border: 1px solid lightblue;

}