body {
    background-image: url("../img/cinema2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
/*
.monBouton
{
background: url(../img/etoile.gif);
background-size: 50px;
background-repeat: no-repeat;
padding: 22px;
}
*/
.ajouterFilmDiv {
    position: relative;
    float: left;
    margin: 20px;
    /*padding: 20px;*/
    size: 50%;
}

.ajouterFilmDiv p {
    color: lightblue;

}

textarea {
    size: 100px;
}

body input {
    border-radius: 20px;
}

.listeContenu {
    float: left;
    width: 50%;
    margin: 20px;
    position: relative;
    width: 77%;
}

input {
    color: lightblue;
}

th {
    color: white;
    width: 230px;
}

#liste {
    color: white;
}

#tableContenu th{
    border:1px solid white;
    padding: 14px;
}

#tableSerie th{
    border:1px solid white;
    padding: 14px;
    margin: 14px;
}

.listeSerie {
    margin: 20px;
    float: right;
    size: 50%;
    position: relative;
}

.listeSerie th {
    margin: 5px;
}

.listeContenu td {
    color: lightblue;
}

td {
        border: 1px solid white;

}

td.Série {
    color: lightseagreen;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

td.Film {
    color: lightblue;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}
