body {
    background-image: url("../img/cinema2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.ajouterFilmDiv {
    position: relative;
    float: left;
    margin: 20px;
    /*padding: 20px;*/
    size: 50%;
}

.ajouterFilmDiv p {
    color: lightblue;

}

textarea {
    size: 100px;
}

body input {
    border-radius: 20px;
}

.listeContenu {
    float: left;
    width: 50%;
    margin: 20px;
    position: relative;
    width: 77%;
}

input {
    color: lightblue;
}

th {
    color: white;
    width: 230px;
}

#liste {
    color: white;
}

#tableContenu th{
    border:1px solid white;
    padding: 14px;
}

#tableSerie th{
    border:1px solid white;
    padding: 14px;
    margin: 14px;
}

.listeSerie {
    margin: 20px;
    float: right;
    size: 50%;
    position: relative;
}

.listeSerie th {
    margin: 5px;
}

.listeContenu td {
    color: lightblue;
}

td {
        border: 1px solid white;

}

td.Série {
    color: lightseagreen;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

td.Film {
    color: lightblue;
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}

a {
    color : lightblue;
    text-decoration: none;
    border: 1px solid rgb(85, 85, 199);
    border-radius: 20px;
    padding : 2px;
    margin : 5px;
    background-color:  rgb(85, 85, 199);
}


input, textarea, select, button {
    background-color: black;
    color:lightgray;
    place
}
